<?xml version="1.0"?>
<robot
  name="m6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.1415"/>

  <xacro:property name="L1_1" value="base1"/>
  <xacro:property name="L1_2" value="shoulder1"/>
  <xacro:property name="L1_3" value="elbow1"/>

  <xacro:property name="L2_1" value="base2"/>
  <xacro:property name="L2_2" value="shoulder2"/>
  <xacro:property name="L2_3" value="elbow2"/>

  <xacro:property name="L3_1" value="base3"/>
  <xacro:property name="L3_2" value="shoulder3"/>
  <xacro:property name="L3_3" value="elbow3"/>

  <xacro:property name="L4_1" value="base4"/>
  <xacro:property name="L4_2" value="shoulder4"/>
  <xacro:property name="L4_3" value="elbow4"/>

  <xacro:property name="L5_1" value="base5"/>
  <xacro:property name="L5_2" value="shoulder5"/>
  <xacro:property name="L5_3" value="elbow5"/>

  <xacro:property name="L6_1" value="base6"/>
  <xacro:property name="L6_2" value="shoulder6"/>
  <xacro:property name="L6_3" value="elbow6"/>

  <xacro:include filename="./m6_left_leg.urdf.xacro"/>
  <xacro:include filename="./m6_right_leg.urdf.xacro"/>
  <!--<xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-RS200.macro.xacro"/>-->
  <xacro:include filename="$(find xMonsterCPG)/urdf/_d435.urdf.xacro"/>

  <!-- <link name="dummy">
  </link>

  <joint name="dummy_joint" type="fixed">
  <parent link="dummy"/>
  <child link="base_link"/>
  </joint> -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0028085 -0.0003448 0.0270705"
        rpy="0 0 0 " />
      <mass
        value="1.8476" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xMonsterCPG/meshes/M6_base_matt6_boxed_full.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.39216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.020030 0.0 0.09" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.261940 0.223 0.18"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 -0.0335" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.0777" length="0.063"/>
      </geometry>
    </collision>
    <!-- Pipes below PC box -->
    <collision>
      <origin xyz="0.1209 -0.06985 -0.02" rpy="${pi/6} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.126"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.1209 0.06985 -0.02" rpy="${-pi/6} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.126"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.1209 0.06985 -0.02" rpy="${pi/6} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.126"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.1209 -0.06985 -0.02" rpy="${-pi/6} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.126"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.1147 -0.02" rpy="${pi/2} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.076"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 -0.1147 -0.02" rpy="${pi/2} ${pi/2} 0.0"/>
      <geometry>
        <cylinder radius="0.015800" length="0.076"/>
      </geometry>
    </collision>
    <!-- Boxes at the end of pipes -->
    <collision>
      <origin xyz="0.20802 0.1201 -0.023" rpy="0.0 0.0 ${pi/6}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.20802 -0.1201 -0.023" rpy="0.0 0.0 ${-pi/6}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.20802 -0.1201 -0.023" rpy="0.0 0.0 ${pi/6}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.20802 0.1201 -0.023" rpy="0.0 0.0 ${-pi/6}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.1902 -0.023" rpy="0.0 0.0 ${pi/2}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 -0.1902 -0.023" rpy="0.0 0.0 ${pi/2}"/>
      <geometry>
        <box size="0.073 0.075 0.046"/>
      </geometry>
    </collision>
  </link>

  <link
    name="camera_mount">
    <inertial>
      <origin
        xyz="-0.00036 0.10008 -0.02312"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xMonsterCPG/meshes/camera_mount.STL" scale="1 1 1"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://xMonsterCPG/meshes/camera_mount.STL" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint
      name="mount_joint"
      type="fixed">
      <origin
        xyz="0.045 0 0.125"
        rpy="${pi/2} 0 ${-pi/2}" />
      <parent
        link="base_link" />
      <child
        link="camera_mount" />
      <axis
        xyz="0 0 1" />
      <limit
        effort="0"
        velocity="0" />
    </joint>
    <!-- <joint name="camera_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0 0 0" rpy="$0 0 0" />
      <parent link="camera_mount"/>
      <child link="camera_joint_link"/>
    </joint>
    <link name="camera_mount"/>
    <link name="camera_joint_link"/> -->




    <!--<xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-RS200.macro.xacro"/>-->
    <!--<xacro:include filename="$(find xMonsterCPG)/urdf/_d435.urdf.xacro"/>
    Create camera instance
    <xacro:realsense-rs200 prefix="left_" parent="base_link">
        <origin xyz="0.13 0.0 0.285" rpy="0 .13 0" />
    </xacro:realsense-rs200>-->

    <!-- <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-RS200.macro.xacro"/>
    <xacro:realsense-rs200 prefix="realsense_" parent="base_link">
        <origin xyz="0.125 0 0.285" rpy="0 .33 0" />
    </xacro:realsense-rs200> -->

    <!-- <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-RS200.macro.xacro"/> -->
    <xacro:include filename="$(find xMonsterCPG)/urdf/_d435.urdf.xacro"/>
    <!-- Create camera instance 0.05 0.0 0.715" rpy="0 0.9 0" -->
    <xacro:sensor_d435 parent="base_link">
        <origin xyz="0.15 0.0 0.3" rpy="0 0.6 0" />
    </xacro:sensor_d435>







    <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>camera_imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>100.0</updateRate>
    </plugin>
    </gazebo>



  <xacro:m6_left_leg prefix="1" mod1="${L1_1}" mod2="${L1_2}" mod3="${L1_3}" base_x="0.205681" base_y="0.11875" base_ang="${pi/6}"/>
  <xacro:m6_left_leg prefix="3" mod1="${L3_1}" mod2="${L3_2}" mod3="${L3_3}" base_x="0" base_y="0.1875" base_ang="${pi/2}"/>
  <xacro:m6_left_leg prefix="5" mod1="${L5_1}" mod2="${L5_2}" mod3="${L5_3}" base_x="-0.205681" base_y="0.11875" base_ang="${5*pi/6}"/>

  <xacro:m6_right_leg prefix="2" mod1="${L2_1}" mod2="${L2_2}" mod3="${L2_3}" base_x="0.205681" base_y="-0.11875" base_ang="${-pi/6}"/>
  <xacro:m6_right_leg prefix="4" mod1="${L4_1}" mod2="${L4_2}" mod3="${L4_3}" base_x="0" base_y="-0.1875" base_ang="${-pi/2}"/>
  <xacro:m6_right_leg prefix="6" mod1="${L6_1}" mod2="${L6_2}" mod3="${L6_3}" base_x="-0.205681" base_y="-0.11875" base_ang="${-5*pi/6}"/>


  <xacro:include filename="./m6.gazebo.xacro"/>
</robot>
